
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&display=swap');


*{                     /**used to reset margins and padding **/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner {
    background: #d7172f;
    background: #d7172f;
    background: linear-gradient(90deg, rgba(255, 0, 0) 0%, rgba(0, 0, 0) 100%);
    height: 10vh;

}

.logo {
    margin: auto;
    display: block;
    /**margin-top: -50px; **/
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    
}

.logo img {
    display: block;  
    margin-left: auto;  
    margin-right: auto; 
    border:none;
    width:10rem;
    height:10rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}
.title-text {
color:rgb(255, 255, 255);
font-family: "Bebas Neue";
text-align:center;
font-size:6rem;
filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
}

body {
    /**height : 100vh;  /**100% of available height **/
    background-color: #DA291C; /** man utd RED color **/
    /**display:flex;   **/
}
/**7/9/2022   game-area {
    background-color: aqua;
}**/
#instructions-area p{
    padding:0.5 rem;
    margin: 10px;
}

#start-game-text {
    padding:3.5rem;
    margin-left:1rem;  
    /**margin-right:auto; **/ 
    color:white;
    display: flex;
    flex-direction:column; 
    animation: overlay-grow 500ms forwards;
    font-family: "Bebas Neue";
    font-size:6rem;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
    border-radius: 25px;

    }

#card-game-area {
    display: grid;
    grid-template-columns: repeat(4,auto); /**changed to auto 7/9/2022 **/
    grid-template-rows: repeat(3,auto);
    grid-column-gap: 2px;
    /**margin:1px; **/
    /**border:1px solid antiquewhite;   /**TEMP just to show area of card game - need to add border, spacing and styles to EACH Card **/
    z-index:99;  
}

#instructions-area {
    display:flex;
    flex-direction:column;
    background-color: black;
    color:antiquewhite;
    font-family: "Bebas Neue";
    font-size:1.5rem;   
       

}
.player-card {  /**add styling to each card **/
    width:100%;
    height:100%;
    border:1.5px solid black;
    transform-style:preserve-3d; /**??? ***/ 
    border-radius: 25px;
    background: #DA291C;
    padding: 20px;
    margin:4px;
    filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5)); 
}

.player-card:hover {
    cursor: pointer;
}

img {

border:1px solid black;

}
#score-results-area {
    background-color: #DA291C;
}
#how-to-play {
    background-color: #DA291C;
}
/**button css adapted from https://fdossena.com/?p=html5cool/buttons/i.frag **/
a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }
    
    a.button3:hover{
    background-color:#4095c6;
    }
    @media all and (max-width:30em){
    a.button3{
    display:block;
    margin:0.2em auto;
     }
    }

/**OVERLAY TEXT**/


.overlay-text:hover{
    cursor: pointer;
}

.overlay-text-small {
    font-size:0.5em;
    
}

/****.overlay-text.visible {
    display: flex;
    flex-direction:column; 
    animation: overlay-grow 500ms forwards;
     
}**/

@keyframes overlay-grow {
    from {
        background-color:rgba(0,0,0,0);
        font-size:0;
        }
    to {
        background-color: #DA291C; /**rgba(0,0,0,0.8); **/
        font-size:8em;

       }
}


/****Modal Box Styling from W3 Schools ***/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px solid #DA291C;
    width: 80%; /* Could be more or less, depending on screen size */
    font-family: "Bebas Neue";
    font-size: 4em;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

@media (max-width :600px) {
    #card-game-area {
        grid-template-columns: repeat(2, auto);
    }
}