* {                     /**used to reset margins and padding **/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height : 100vh;  /**100% of available height **/
    background-color: #DA291C; /** man utd RED color **/
}
